.button-blue {
  background-color: dodgerblue;
  padding: 11px 11px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  font-family: roboto;
}
.button-blue:hover {
  opacity: 0.8;
  text-decoration: underline;
